.Home {
  display: flex;
  height: 120vh;
}
.main{
  width: 84.91vw;
  height: 126vh;
  background-image: linear-gradient(to bottom, rgb(0, 174, 255) 10%, rgb(15, 15, 15)70% );
}
.album{
  width: 14vw;
  margin-left: 3vw;
  margin-top: 6vw;
  box-shadow: 2px 2px 15px 1px rgb(20, 20, 20);
}
.upper{
  display: flex;
}
.textos{
  margin-top: 9vw;
  color: white;
  margin-left: 2vw;
  font-weight: bold;
}
.playlist{
  font-size: 1vw;
}
.daily{
  font-size: 2.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.texto3{
  font-size: 1vw;
  margin-top: 0.5vw;
}

.cabeçalhoMusica{
  margin-top: 18vw;
  width: 84vw;
  font-family: 'Inter', sans-serif;
}

.titulo, .alb, .relogio{
  display: inline;
  color: #D9D9D9;
  font-size: 1.2vw;
  margin-bottom: 1vw;
}

.titulo{
  margin-left: 4vw;
}

.alb{
  margin-left: 34vw;
}

.relogio{
  margin-left: 21vw;
}

.linha{
  width: 67.4vw;
  margin-left: 3.7vw;
  margin-top: 1vw;
  margin-bottom: 2.4vw;
  height: 0.005vw;
  background-color: white;
}

.musica{
  color: #fff;
  margin-left: 3.8vw;
  font-size: 1.1vw;
  margin-bottom: 1.6vw;
  flex-wrap: nowrap;
  
}

.numMusica, .Musica, .Album, .coraçao, .Relogio{
  display: inline-block;
  vertical-align: middle;
}

.Musica{
  margin-left: 1.4vw;
  width: 23.4vw;
}

.Album{
  margin-left: 14vw;
  width: 18vw;
}

.coraçao{
  margin-left: 6.8vw;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.Relogio{
  margin-left: 1.2vw;
  cursor: pointer;
}
#cr1 #cr2 #cr3{
  background-color: transparent;
}
.re1{
  position: absolute;
width: 1vw;
height: 1.21vw;
margin-left: -0.1vw;
margin-top: -0.4vw;

background: #D9D9D9;
border-radius: 0px 0px 4.44px 4.44px;
}
.ss{
  height: 0vw;
}
.re2{
  position: absolute;
width: 1.2vw;
height: 0.12vw;
bottom: 1.31vw;
right: -0.1vw;

background: #D9D9D9;
}
.re3{
  position: absolute;
  width: 0.4vw;
  height: 0.12vw;
  bottom: 1.5vw;
  left: 0.32vw;
  
  background: #D9D9D9;
}

/* Icones Topo */
.icons-top{
  position: absolute;
  top: 29vw;
  left: 17vw;
  display: flex;
  align-items: center;
}

.play{
  margin-right: 2vw;
  cursor: pointer;
}

.hearth{
  cursor: pointer;
}

#download{
  color: #CCCCCC;
  font-size: 3vw;
  margin-left: .8vw;
  cursor: pointer;
}

.three-dots{
  margin-left: 1vw;
  cursor: pointer;
}

.esquerda p{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #CCCCCC;
  margin-top: 1vw;
  width: 8vw;
  cursor: pointer;
}

.esquerda h1{
  color: #FFFFFF;
  display: flex;
  align-items:flex-start;
}

.registrated{
  width: 1.9vw;
  margin-left: 0.2vw;
}


.play{
  width: 4.5vw;
}
.heart{
  width: 3vw;
  border: 0;
}
#download{
  width: 3.5vw;
}
.three-dots{
  width: 2.4vw;
}



@media screen and (min-width:300px) and (max-width:768px) {

/* .icons-top{
  margin-left: -13vw;
}
.esquerda{
  display: none;
}
.ispot{
  display: none;
}
.oi{
  display: none;
}
.material-symbols-outlined{
  margin-left: -16.5vw;
} */


.Home{
  width: 100vw;
  height: 100vh;
}
.esquerda-box{
  display: none;
}
.esquerda{
  width: 10vw;
  background-color: black;
}

.main{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgb(0, 174, 255) 10%, rgb(15, 15, 15)70% );
}
.album{
  width: 20vw;
}
.playlist{
  font-size: 2vw;
}
.daily{
  font-size: 5vw;
}
.texto3{
  font-size: 2vw;
  margin-top: 0.5vw;
}
.titulo, .alb, .relogio{
  display: inline;
  color: #D9D9D9;
  font-size: 2.0vw;
  margin-bottom: 1vw;
}
.linha{
  width: 92vw;
  margin-left: 3.7vw;
  margin-top: 1vw;
  margin-bottom: 2.4vw;
}
.alb{
  margin-left: 31.5vw;
}
.relogio{
  margin-left: 21vw;
}
.musica{
  color: #fff;
  margin-left: 3.8vw;
  font-size: 2.2vw;
  margin-bottom: 3vw;
  flex-wrap: nowrap;
}
.coraçao{
  margin-left: 9.5vw;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
.play{
  width: 8vw;
}
.heart{
  width: 6vw;
  border: 0;
}
#download{
  width: 7vw;
}
.three-dots{
  width: 4.8vw;
}
.re1{
  position: absolute;
width: 2vw;
height: 2.42vw;
margin-left: -0.1vw;
margin-top: -1vw;

background: #D9D9D9;
border-radius: 0px 0px 4.44px 4.44px;
}
.re2{
  position: absolute;
width: 2.4vw;
height: 0.24vw;
bottom: 2.61vw;
right: -0.2vw;

background: #D9D9D9;
}
.re3{
  position: absolute;
  width: 0.8vw;
  height: 0.24vw;
  bottom: 3vw;
  left: 0.64vw;
  
  background: #D9D9D9;
}
}